.section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .section {
      width: 33.33%;
      float: left;
  }
}

@media (max-width: 599px) {
  .section {
      width: 100%;
      float: none;
  }
}
